[user]
	name = Evan Relf
[alias]
	s = status
	l = log --graph --pretty=format:'%Cred%h%Creset - %s%C(yellow)%d%Creset %Cgreen(%cr)%Creset %Cblue<%an>%Creset'
	ci = commit
	co = checkout
	d = diff
	ds = diff --staged
	ks = difftool -y -t Kaleidoscope
	clean-ignore = clean -Xdf
	clean-untracked = clean -xdi
	undo = reset --soft HEAD^
	amend = commit --amend
	root = rev-parse --show-toplevel
	exec = "!exec "
[core]
	editor = nvim
	pager = diff-so-fancy | less --tabs=2 -RFX
[status]
	showUntrackedFiles = all
[push]
	default = current
[diff]
	renames = copies
	algorithm = patience
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[merge]
	conflictstyle = diff3
[color]
	ui = true
[include]
	path = ~/.gitconfig.local
[color "diff-highlight"]
	oldNormal = red
	oldHighlight = red
	newNormal = green
	newHighlight = green
[color "diff"]
	meta = yellow
	frag = magenta
	commit = yellow
	old = red
	new = green
	whitespace = red reverse
