"$schema" = 'https://starship.rs/config-schema.json'

format = """\
  $status\
  $hostname\
  $directory\
  $nix_shell\
  $jobs\
  $line_break\
  $character\
"""

[status]
disabled = false
format = """([$status]($style)\n)"""
pipestatus_format = """([$pipestatus]($style)\n)"""
pipestatus_separator = """[ | ]($style)"""
pipestatus_segment_format = """([$status]($style))"""
style = 'red'
pipestatus = true

[hostname]
disabled = false
format = '[$hostname]($style) '
style = 'green'
aliases = { lima-default = '●' }

[directory]
format = '[$read_only]($read_only_style)[$path]($style) '
style = 'bright-blue'
read_only_style = 'bright-blue'
truncation_length = 99
truncate_to_repo = false
repo_root_style = 'bright-blue underline'

[nix_shell]
disabled = false
format = '[${symbol}]($style) '
symbol = ' '
style = 'bright-blue'

[jobs]
disabled = false
format = '[${symbol}$number]($style) '
symbol = ' '
style = 'bright-blue'

[character]
disabled = false
format = "[\\$](fg:bright-blue) "

[git_branch]
disabled = true

[git_commit]
disabled = true

[git_status]
disabled = true

[git_state]
disabled = true

[username]
disabled = true
