/* Move find bar above the page */
.browserContainer > findbar {
  -moz-box-ordinal-group: 0;
}

/* Tree Style Tab: Hide the header at the top of the sidebar*/
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
  display: none;
}

/* Only show tab close buttons on mouseover */
.tabbrowser-tab:not([selected]):not([pinned]) .tab-close-button {
  display: none !important;
}
.tabbrowser-tab:not([selected]):not([pinned]):hover .tab-close-button {
  display: -moz-box !important;
}
