[Unit]
Description=Activate physlock on suspend
Before=sleep.target

[Service]
User=%I
Type=forking
ExecStart=/usr/bin/physlock -dm

[Install]
WantedBy=sleep.target
