root = true

[*]
indent_style = space
indent_size = 2
tab_width = 8
# trim_trailing_whitespace = true
# insert_final_newline = true
# max_line_length = 80
# end_of_line = lf
# charset = utf-8

[*.{rs,py,elm,fish}]
indent_size = 4

[Makefile,*.mk]
indent_style = tab
