[Unit]
Description=Perform Borg backup
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
EnvironmentFile=/home/evanrelf/.config/borg/env
ExecStart=/home/evanrelf/.config/borg/backup
