[Unit]
Description=Activate i3lock on suspend
Before=sleep.target

[Service]
User=%I
Type=forking
Environment=DISPLAY=:0
ExecStart=/usr/bin/i3lock --color=220022 --ignore-empty-password

[Install]
WantedBy=sleep.target
