[Unit]
Description=Perform Tarsnap backup
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
# ExecStart=/usr/bin/notify-send "Tarsnap" "Backup started"
ExecStart=/root/tarsnap-backup.sh
# ExecStart=/usr/bin/notify-send "Tarsnap" "Backup completed"
