#:schema https://docs.jj-vcs.dev/latest/config-schema.json

# Shorter
aliases.d = ['diff']
aliases.dup = ['duplicate']
aliases.mut = ['--ignore-immutable']
aliases.par = ['parallelize']
aliases.s = ['status']

# Log
aliases.l = ['log', '-r', 'evan_log() | ancestors(present(@), 10)']
aliases.ll = ['log', '-r', 'evan_log() | ancestors(present(@))']
aliases.pr = ['log', '-r', 'pr()']

# Squash
aliases.give = ['squash', '--use-destination-message', '--into']
aliases.take = ['squash', '--use-destination-message', '--from']

# Bookmark
aliases.here = ['bookmark', 'move', '--to', '@-']
aliases.tug = ['bookmark', 'move', '--from', 'bookmark()', '--to', '@-']

# Git
aliases.blame = ['file', 'annotate']
aliases.clone = ['git', 'clone']
aliases.fetch = ['git', 'fetch']
aliases.init = ['git', 'init']
aliases.merge = ['util', 'exec', '--', 'bash', '-c', '''
set -euo pipefail
if [ "$#" -gt 1 ]; then
  echo "Usage: jj merge [REVSET]" >&2
  exit 1
fi
parent=${1:-"trunk()"}
jj new @- "exactly($parent, 1)" --message "Merge \`$parent\`"
jj new
''', '']
aliases.push = ['git', 'push']
aliases.remote = ['git', 'remote']

aliases.megaset = ['util', 'exec', '--', 'bash', '-c', '''
set -euo pipefail
if [ "$#" -eq 0 ]; then
  echo "Usage: jj megaset [REVSETS]..." >&2
  exit 1
fi
if [ "$#" -eq 1 ]; then
  parents=${1:?}
  jj rebase --source 'megamerge()' --onto "$parents"
else
  args=()
  for arg in "$@"; do
    args+=(--onto "$arg")
  done
  jj rebase --source 'megamerge()' "${args[@]}"
fi
''', '']
aliases.megadifference = ['util', 'exec', '--', 'bash', '-c', '''
set -euo pipefail
if [ "$#" -ne 1 ]; then
  echo "Usage: jj megadifference <REVSET>" >&2
  exit 1
fi
parents=${1:?}
jj rebase --source 'megamerge()' --onto "parents(megamerge()) ~ ($parents)"
''', '']
aliases.megaunion = ['util', 'exec', '--', 'bash', '-c', '''
set -euo pipefail
if [ "$#" -ne 1 ]; then
  echo "Usage: jj megaunion <REVSET>" >&2
  exit 1
fi
parents=${1:?}
jj rebase --source 'megamerge()' --onto "parents(megamerge()) | ($parents)"
''', '']
aliases.megarebase = ['util', 'exec', '--', 'bash', '-c', '''
set -euo pipefail
if [ "$#" -gt 1 ]; then
  echo "Usage: jj megarebase [REVSET]" >&2
  exit 1
fi
base=${1:-"trunk()"}
jj rebase --source 'megaroots()' --onto "exactly($base, 1)"
''', '']
aliases.watch = ['util', 'exec', '--', 'jj-watch']

user.name = 'Evan Relf'
user.email = 'evan@evanrelf.com'
ui.default-command = ['log', '-r', 'evan_log()']
ui.diff-formatter = ':git'
ui.diff-editor = ':builtin'
ui.merge-editor = 'mergiraf'
ui.pager = 'delta'
git.colocate = true
git.private-commits = 'private()'
git.write-change-id-header = true
signing.behavior = 'own'
signing.backend = 'ssh'
signing.key = '~/.ssh/jj.pub'

revsets.log = 'evan_log()'
revsets.short-prefixes = 'evan_log()'
revset-aliases.'default_log()' = 'present(@) | ancestors(immutable_heads().., 2) | present(trunk())'
revset-aliases.'evan_log()' = 'present(@) | (ancestors(immutable_heads().., 2) & mine()) | present(trunk()) | bookmarks()'
revset-aliases.'megamerge()' = 'exactly(coalesce(subject(exact:"megamerge"), root()), 1) ~ root()'
revset-aliases.'megaroots()' = 'children(fork_point(parents(megamerge()))) & ancestors(megamerge())'
revset-aliases.'M' = 'megamerge()'
revset-aliases.'private()' = 'subject(glob:"private:*") | megamerge() | wip()'
revset-aliases.'wip()' = 'subject(glob:"wip:*") & mine()'
# Nearest bookmark.
revset-aliases.'bookmark()' = 'exactly(heads(ancestors(@) & bookmarks()), 1)'
# Commits you'd see on GitHub pull requests.
revset-aliases.'pr()' = 'trunk()..bookmark() & mutable()'
revset-aliases.'pr(x)' = 'trunk()..x & mutable()'
revset-aliases.'prs()' = 'pr(bookmarks())'

colors.'evan_working_copy' = { bold = true }
templates.git_push_bookmark = '"evanrelf/push-" ++ change_id.short()'
templates.log = 'evan_log'
templates.log_node = 'evan_log_node'
template-aliases.'format_short_id(id)' = 'id.shortest(6)'
template-aliases.evan_log_node = '''
coalesce(
  if(!self, label("elided", "┆")),
  label(
    separate(" ",
      if(current_working_copy, "evan_working_copy"),
      if(conflict, "conflicted"),
    ),
    coalesce(
      if(current_working_copy, "@"),
      if(description.first_line() == "megamerge", "M"),
      if(immutable, "·"),
      "○",
    )
  )
)
'''
template-aliases.evan_log = '''
if(root,
  format_root_commit(self),
  label(if(current_working_copy, "evan_working_copy"),
    concat(
      separate(" ",
        format_short_change_id_with_hidden_and_divergent_info(self),
        format_short_commit_id(commit_id),
        pad_start(3, format_log_timestamp(commit_timestamp(self))),
        evan_log_description,
        bookmarks,
        tags,
        working_copies,
      ) ++ "\n",
    ),
  ),
) ++ evan_log_status
'''
template-aliases.'evan_log_description' = '''
  label(
    separate(" ",
      if(!description || description.first_line().starts_with("wip:"), "description placeholder"),
      if(empty, "empty"),
    ),
    separate(" ",
      if(conflict, label("conflict", "conflict")),
      stringify(if(description,
        description.first_line(),
        description_placeholder,
      )),
      surround("(", ")", separate(", ",
        if(empty, "empty"),
      ))
    ),
  )
'''
template-aliases.'evan_log_status' = '''
if(!empty && (current_working_copy || !description || description.first_line().starts_with("wip:")),
  diff.summary() ++ "\n"
)
'''
template-aliases.'ts(timestamp)' = 'timestamp.ago().remove_suffix(" ago").remove_suffix("s")'
template-aliases.'format_log_timestamp(t)' = '''
if(
  ts(t).ends_with("second"),
  ts(t).remove_suffix(" second") ++ label("timestamp", "s"),
if(
  ts(t).ends_with("minute"),
  ts(t).remove_suffix(" minute") ++ label("timestamp", "m"),
if(
  ts(t).ends_with("hour"),
  ts(t).remove_suffix(" hour") ++ label("timestamp", "h"),
if(
  ts(t).ends_with("day"),
  ts(t).remove_suffix(" day") ++ label("timestamp", "d"),
if(
  ts(t).ends_with("week"),
  ts(t).remove_suffix(" week") ++ label("timestamp", "wk"),
if(
  ts(t).ends_with("month"),
  ts(t).remove_suffix(" month") ++ label("timestamp", "mo"),
if(
  ts(t).ends_with("year"),
  ts(t).remove_suffix(" year") ++ label("timestamp", "yr"),
ts(t),
)))))))
'''

[[--scope]]
--when.repositories = ['~/Code/MercuryTechnologies/']
[--scope.user]
email = 'evanr@mercury.com'
[--scope.fsmonitor]
backend = 'watchman'
