"$schema" = 'https://docs.jj-vcs.dev/latest/config-schema.json'

aliases.d = ['diff']
aliases.dup = ['duplicate']
aliases.l = ['log', '-r', 'alias_l()']
aliases.ll = ['log', '-r', 'alias_ll()']
aliases.pr = ['log', '-r', 'pr()']
aliases.par = ['parallelize']
aliases.s = ['status']
aliases.blame = ['file', 'annotate']
aliases.clone = ['git', 'clone']
aliases.fetch = ['git', 'fetch']
aliases.init = ['git', 'init']
aliases.push = ['git', 'push']
aliases.remote = ['git', 'remote']
aliases.give = ['squash', '--use-destination-message', '--into']
aliases.take = ['squash', '--use-destination-message', '--from']
aliases.here = ['bookmark', 'move', '--to', '@-']
aliases.tug = ['bookmark', 'move', '--from', 'bookmark()', '--to', '@-']
aliases.merge = ['util', 'exec', '--', 'bash', '-c', '''
if [ "$#" -gt 1 ]; then
  echo "usage: jj merge [REVSET]" >&2
  exit 1
fi
revset=${1:-"trunk()"}
jj new @- "exactly($revset, 1)" --message "Merge \`$revset\`" && jj new
''', '']
aliases.mut = ['--ignore-immutable']
aliases.watch = ['util', 'exec', '--', 'bash', '-c', '''
# https://docs.jj-vcs.dev/latest/FAQ/#can-i-monitor-how-jj-log-evolves
watchexec \
  --quiet \
  --clear \
  --restart \
  --watch "$(jj root)/.jj/repo/op_heads/heads" \
  --ignore-nothing \
  --shell none \
  --wrap-process none \
  -- jj --ignore-working-copy "$@"
''', '']

user.name = 'Evan Relf'
user.email = 'evan@evanrelf.com'
ui.default-command = 'l'
ui.diff-formatter = ':git'
ui.diff-editor = ':builtin'
ui.merge-editor = 'mergiraf'
ui.pager = 'delta'
git.colocate = true
git.private-commits = 'private()'
git.write-change-id-header = true
signing.behavior = 'own'
signing.backend = 'ssh'
signing.key = '~/.ssh/jj.pub'

revsets.log-graph-prioritize = 'coalesce(megamerge(), present(@))'
revset-aliases.'alias_l()' = '(ancestors(present(@), 10) | (ancestors((immutable_heads() | bookmarks()).., 2) & mine()) | present(trunk()) | bookmarks()) ~ merge_spam()'
revset-aliases.'alias_ll()' = 'alias_l() | ancestors(present(@))'
revset-aliases.'megamerge()' = '(exactly(coalesce(subject(exact:"megamerge"), root()), 1) ~ root()) & mine()'
revset-aliases.'private()' = '(subject(glob:"private:*") & mine()) | descendants(megamerge())'
# Merge ancestors from other branches. Exclude this to remove merge commit spam.
# TODO: Choose a better name
revset-aliases.'merge_spam()' = 'ancestors(merges()) ~ first_ancestors(merges())'
# Nearest bookmark.
revset-aliases.'bookmark()' = 'heads(ancestors(@) & bookmarks())'
# Commits you'd see on GitHub pull requests.
revset-aliases.'pr()' = '(ancestors(bookmark()) ~ ancestors(trunk())) ~ merge_spam()'
revset-aliases.'pr(x)' = '(ancestors(x) ~ ancestors(trunk())) ~ merge_spam()'
revset-aliases.'prs()' = 'pr(bookmarks())'

templates.git_push_bookmark = '"evanrelf/push-" ++ change_id.short()'
templates.log = 'evan_log_oneline'
templates.log_node = 'evan_log_node'
template-aliases.'format_short_id(id)' = 'id.shortest(6)'
template-aliases.evan_log_node = '''
coalesce(
  if(!self, label("elided", "~")),
  label(
    separate(" ",
      if(current_working_copy, "working_copy"),
      "mutable",
      if(conflict, "conflicted"),
    ),
    coalesce(
      if(current_working_copy, "@"),
      if(immutable, "├"),
      if(conflict, "×"),
      "○",
    )
  )
)
'''
template-aliases.evan_log_oneline = '''
if(root,
  format_root_commit(self),
  label(if(current_working_copy, "working_copy"),
    concat(
      separate(" ",
        format_short_change_id_with_hidden_and_divergent_info(self),
        format_short_commit_id(commit_id),
        pad_start(3, format_log_timestamp(commit_timestamp(self))),
        if(conflict, label("conflict", "conflict")),
        if(config("ui.show-cryptographic-signatures").as_boolean(),
          format_short_cryptographic_signature(signature)),
        if(description,
          description.first_line(),
          label(if(empty, "empty"), description_placeholder),
        ),
        if(empty, label("empty", "(empty)")),
        bookmarks,
        tags,
        working_copies,
      ) ++ "\n",
    ),
  ),
) ++
if(!description && !empty,
  diff.summary(),
)
'''
template-aliases.'ts(timestamp)' = 'timestamp.ago().remove_suffix(" ago").remove_suffix("s")'
template-aliases.'format_log_timestamp(t)' = '''
if(
  ts(t).ends_with("second"),
  ts(t).remove_suffix(" second") ++ label("timestamp", "s"),
if(
  ts(t).ends_with("minute"),
  ts(t).remove_suffix(" minute") ++ label("timestamp", "m"),
if(
  ts(t).ends_with("hour"),
  ts(t).remove_suffix(" hour") ++ label("timestamp", "h"),
if(
  ts(t).ends_with("day"),
  ts(t).remove_suffix(" day") ++ label("timestamp", "d"),
if(
  ts(t).ends_with("week"),
  ts(t).remove_suffix(" week") ++ label("timestamp", "wk"),
if(
  ts(t).ends_with("month"),
  ts(t).remove_suffix(" month") ++ label("timestamp", "mo"),
if(
  ts(t).ends_with("year"),
  ts(t).remove_suffix(" year") ++ label("timestamp", "yr"),
ts(t),
)))))))
'''

[[--scope]]
--when.repositories = ['~/Code/MercuryTechnologies/']
[--scope.user]
email = 'evanr@mercury.com'
[--scope.fsmonitor]
backend = 'watchman'
