#!/bin/sh

xrdb -merge .Xresources
xsetroot -cursor_name left_ptr
xrandr --dpi 120
if uname -a | grep -qvi "NixOS"; then
  xset r rate 200 20
  xinput --set-prop "SynPS/2 Synaptics TouchPad" "libinput Natural Scrolling Enabled" 1
  xinput --set-prop "SynPS/2 Synaptics TouchPad" "libinput Tapping Enabled" 1
  xinput --set-prop "SynPS/2 Synaptics TouchPad" "libinput Tapping Drag Enabled" 0
  xinput --set-prop "SynPS/2 Synaptics TouchPad" "libinput Disable While Typing Enabled" 0
  xinput --set-prop "SynPS/2 Synaptics TouchPad" "libinput Accel Speed" 0.7
  # xinput --set-prop "Synaptics TM3075-002" "libinput Natural Scrolling Enabled" 1
  # xinput --set-prop "Synaptics TM3075-002" "libinput Tapping Enabled" 1
  # xinput --set-prop "Synaptics TM3075-002" "libinput Tapping Drag Enabled" 0
  # xinput --set-prop "Synaptics TM3075-002" "libinput Disable While Typing Enabled" 0
  # xinput --set-prop "Synaptics TM3075-002" "libinput Accel Speed" 0.7
  redshift &
  unclutter --exclude-root --fork
  xautolock -locker "systemctl suspend" -time 5 &
fi
autocutsel -fork
xbanish &
dunst &
compton &
(sleep 1 && feh --bg-tile ~/.wallpapers/current) &
