theme "primer"
default_layout "evan"
default_mode "locked"
simplified_ui true
pane_frames false

ui {
  pane_frames {
    hide_session_name true
  }
}

// TODO: Stacked panes, floating panes
keybinds clear-defaults=true {
  locked {
    bind "Ctrl s" { SwitchToMode "Normal"; }
  }
  normal {
    // Panes
    bind "-" { NewPane "Down"; SwitchToMode "Locked"; }
    bind "\\" { NewPane "Right"; SwitchToMode "Locked"; }
    bind "h" { MoveFocus "Left"; SwitchToMode "Locked"; }
    bind "j" { MoveFocus "Down"; SwitchToMode "Locked"; }
    bind "l" { MoveFocus "Right"; SwitchToMode "Locked"; }
    bind "k" { MoveFocus "Up"; SwitchToMode "Locked"; }
    bind "H" { MovePane "Left"; SwitchToMode "Locked"; }
    bind "J" { MovePane "Down"; SwitchToMode "Locked"; }
    bind "K" { MovePane "Up"; SwitchToMode "Locked"; }
    bind "L" { MovePane "Right"; SwitchToMode "Locked"; }
    bind "[" { Resize "Increase Left"; SwitchToMode "Locked"; }
    bind "]" { Resize "Increase Right"; SwitchToMode "Locked"; }
    bind "{" { Resize "Increase Up"; SwitchToMode "Locked"; }
    bind "}" { Resize "Increase Down"; SwitchToMode "Locked"; }
    bind "z" { ToggleFocusFullscreen; SwitchToMode "Locked"; }
    // TODO: Blurred floating panes get terminated??
    // bind "f" { TogglePaneEmbedOrFloating; SwitchToMode "Locked"; }
    // bind "F" { ToggleFloatingPanes; SwitchToMode "Locked"; }
    bind "s" { SwitchToMode "Scroll"; }

    // Tabs
    bind "c" { NewTab; SwitchToMode "Locked"; }
    bind "n" { GoToNextTab; SwitchToMode "Locked"; }
    bind "p" { GoToPreviousTab; SwitchToMode "Locked"; }
    bind "1" { GoToTab 1; SwitchToMode "Locked"; }
    bind "2" { GoToTab 2; SwitchToMode "Locked"; }
    bind "3" { GoToTab 3; SwitchToMode "Locked"; }
    bind "4" { GoToTab 4; SwitchToMode "Locked"; }
    bind "5" { GoToTab 5; SwitchToMode "Locked"; }
    bind "6" { GoToTab 6; SwitchToMode "Locked"; }
    bind "7" { GoToTab 7; SwitchToMode "Locked"; }
    bind "8" { GoToTab 8; SwitchToMode "Locked"; }
    bind "9" { GoToTab 9; SwitchToMode "Locked"; }
    bind "," { SwitchToMode "RenameTab"; TabNameInput 0; }

    // Session
    bind "d" { Detach; }
  }
  entersearch {
    bind "Esc" { SwitchToMode "Locked"; }
    bind "Enter" { SwitchToMode "Search"; }
  }
  shared_among "normal" "scroll" "search" {
    bind "/" { SwitchToMode "EnterSearch"; SearchInput 0; }
  }
  shared_among "scroll" "search" {
    bind "j" "Down" { ScrollDown; }
    bind "k" "Up" { ScrollUp; }
    bind "Ctrl d" "d" { HalfPageScrollDown; }
    bind "Ctrl u" "u" { HalfPageScrollUp; }
    bind "Ctrl f" { PageScrollDown; }
    bind "Ctrl b" { PageScrollUp; }
    bind "G" { ScrollToBottom; }
    bind "g" { ScrollToTop; }
    bind "e" { EditScrollback; }
  }
  scroll {
    bind "Esc" { ScrollToBottom; SwitchToMode "Locked"; }
  }
  search {
    bind "Esc" { SearchInput 0; SwitchToMode "Scroll"; }
    bind "n" { Search "down"; }
    bind "p" { Search "up"; }
  }
  renametab {
    bind "Esc" { UndoRenameTab; SwitchToMode "Locked"; }
  }
  shared_except "locked" {
    bind "Enter" "Esc" { SwitchToMode "Locked"; }
  }
}

plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    strider { path "strider"; }
    compact-bar { path "compact-bar"; }
}
